:root{
  --font-size-normal: 16px;
}
.chat-box-body-container {
  border: 1px solid var(--bs-gray-500);
  box-shadow: 1px 5px 10px 1px var(--bs-gray-500);
  height: 80vh;
  border-radius: 15px;
}

.empty-chat-wrapper {
  height: 80vh;
  border-left: 1px solid var(--bs-gray-500);
}

.main-chat-wrapper {
  background-color: var(--bs-gray-400);
  font-weight: 500;
  border-top-right-radius: 14px;
}
.chat-body-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-chat-wrapper.active .contact-chat-user-name {
  font-weight: 700;
}

.contact-chat-wrapper.active .contact-chat-user-email {
  font-weight: 700;
}

.main-chat-wrapper .contact-chat-user-name {
  font-weight: 700;
}

.main-chat-wrapper .contact-chat-user-email {
  font-weight: 700;
}

.contact-chat-user-name {
  font-size: 13px;
  font-weight: 400;
}

.contact-chat-user-email {
  font-size: 12px;
  font-weight: 400;
}

.chat-leftSide-container {
  padding: 12px;
  height: 80vh;
}

.chat-left-content{
  overflow: hidden;
}

.message-text-container {
  background-color: var(--bs-gray-400);
  border-radius: 12px;
  font-weight: 400;
  padding: 10px 15px;
  float: left;
  max-width: 80%;

}

.message-text-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.chat-input-box-wrapper {
  border: 1px solid #adb5bd;
  border-radius: 15px;
  padding: 0px 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  box-shadow: 1px 5px 10px 1px var(--bs-gray-400);
}

.chat-attachment-dropdown {
  margin-top: -25px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 10px #d7d6d6;
}

.chat-attachment-dropdown li:hover {
  background-color: #cfcfcf;
}

.chat-body-text-wrapper {
  overflow: hidden;
  overflow-y: scroll;
}

.font-semibold.chat-attachment-sub-title {
  font-size: 13px;
  margin: 0;
}
.message-text-container.sender {
  background-color: var(--bs-blue);
  color: #fff;
  float: right;
}

.text-bold-sub-title {
  font-size: 18px;
  font-weight: 600;
}

.contact-chat-wrapper {
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;

}

.message-timestamp span {
  font-size: 10px;
  opacity: 0.6;
}

.message-timestamp .message-channels {
  font-size: 10px;
  opacity: 0.6;
}

.message-timestamp {
  text-align: right;
}

.contact-chat-wrapper.active {
  background-color: var(--bs-gray-400);
  font-weight: 600;
  border-radius: 10px;
}

.chat-leftSide-container ul {
  list-style: none;
  padding: 0px;
}

.custom-input {
  padding: 10px;
  border: 1px solid var(--bs-gray-900);
  font-size: var(--font-size-normal);
}

.ant-input.custom-textarea {
  padding: 10px;
  border: 1px solid var(--bs-gray-900);
  font-size: var(--font-size-normal);
}

:where(.css-dev-only-do-not-override-1i536d8).ant-select:not(:where(.css-dev-only-do-not-override-1i536d8).ant-select-customize-input) .ant-select-selector {
  border: 1px solid var(--bs-gray-900);
  font-size: var(--font-size-normal);
  padding: 8px;
  height: auto;
}

.ant-radio-inner {
  border: 1px solid var(--bs-gray-900) !important;
}

.ant-select-selector {
}

.text-title {
  font-size: 22px;
  font-weight: 600;
}

.text-sub-title {
  font-size: var(--font-size-normal);
  font-weight: 400;
}

.ant-form-item-label {
  font-size: var(--font-size-normal);
  font-weight: 500;
}

.auth-bg{
  background-color: var(--bs-blue);
  height: 100vh;
}

.auth-content{
  display: flex;
  align-items: center;
}

.row{
  margin: 0px !important;
}

/* Sidebar */
/* aside.ant-layout-sider.ant-layout-sider-dark.left-slider-wrapper {
  background-color: transparent !important;
} */
.left-slider-wrapper{
  height: 100vh;
}

.left-sider-nav-heading{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--bs-primary);
}

.left-sider-nav-item {
  list-style: none;
  padding: 0px;
}

.left-sider-nav-item > li {
  padding: 15px 27px;
  color: var(--white) !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.alert {
  --bs-alert-padding-y: 7px;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid var(--bs-blue);
}

.left-sider-nav-item > li a{
  color: var(--white) !important;
  cursor: pointer;
  text-decoration: none;
}

.left-sider-nav-item > li.active {
  background-color: var(--bs-primary);
  color: var(--white) !important;
}

.left-sider-nav-item > li.active a{
  background-color: var(--bs-primary);
  color: var(--white) !important;
  cursor: pointer;
  text-decoration: none;
}

.left-sider-nav-item > li:hover {
  background-color: var(--bs-primary);
  color: var(--white) !important;
  animation: fadeIn 2s;
}

.left-sider-nav-item > li:hover a{
  background-color: var(--bs-primary);
  color: var(--white) !important;
  animation: fadeIn 2s;
}

.left-sider-nav-item > li.active .left-sider-nav-icon {
  font-size: 24px;
}

.left-sider-nav-item > li .left-sider-nav-icon {
  font-size: 20px;
}


/* Link */
a {
  color: var(--bs-blue) !important;
  font-size: var(--font-size-normal);
  text-decoration: none;
}

/* Forms */

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button-md {
  padding: 15px !important;
}

.custom-button-lg {
  padding: 20px !important;
}

.custom-button-auth {
  padding: 25px !important;
}

.custom-button-sm {
  padding: 10px !important;
}

.custom-primary-button {
  background-color: var(--bs-blue) !important;
  border: 1px solid var(--bs-blue);
}

.custom-secondary-button {
  background-color: var(--bs-code-color) !important;
  border: 1px solid var(--bs-code-color);
}

.ant-form-item-feedback-icon {
  padding: 0px;
  margin-top: -1px;
}

.ant-form-item-explain-error {
  font-size: 16px;
  padding: 5px 0px;
}

.custom-checkbox .ant-checkbox {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-800);
}

.auth-banner-content-wrapper{
  height: 100vh;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.PhoneInputCountry{
  height: 46px;
  padding: 10px 15px;
  border: 1px solid var(--bs-gray-800);
  border-radius: 5px;
}

.PhoneInputInput {
  padding: 10px;
  border: 1px solid var(--bs-gray-900);
  font-size: var(--font-size-normal);
  border-radius: 5px;
}

.PhoneInput--focus .PhoneInputInput{
  border: 1px solid var(--bs-blue) !important;
  box-shadow: none !important;
}

.PhoneInputCountryIcon.PhoneInputCountryIcon--border {
  box-shadow: none;
}

.custom-tab-active {
  color: var(--bs-gray-900);               /* Text color for active tab */
  border-bottom: 2px solid var(--bs-blue);  /* Border style for active tab */
}

.addElementContainer{
  background-color: var(--bs-gray-700);
}