@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', 'lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --white: #fff;
  --border-color: #E8E8E8;
  --text-secondary-color: #868E96;
  --bg-secondary-color: #343A40;
  --bg-tertiary-color: #FC912B;
  --bg-upgrade-bg: #FFF9DB;
  --bg-primary: #436D48;
  --bg-secondary: #436D48;
}

code {
  font-family: 'Poppins', 'lato', sans-serif !important;
}

a {
  color: var(--bg-primary) !important;
}

.left-slider-wrapper{
  height: 100vh;
  padding: 20px;
}

.left-sider-nav-heading{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.left-sider-nav-item {
  list-style: none;
  padding: 0px;
}

.left-sider-nav-item > li {
  border-radius: 4px;
  padding: 15px 20px;
  margin-top: 5px;
  color: var(--white) !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.left-sider-nav-item > li a{
  color: var(--white) !important;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.left-sider-nav-item > li.active {
  background-color: var(--bg-secondary-color);
  font-weight: 700;
  color: var(--white) !important;
}

.left-sider-nav-item > li.active a{
  background-color: var(--bg-secondary-color);
  font-weight: 700;
  color: var(--white) !important;
  cursor: pointer;
  text-decoration: none;
}

.left-sider-nav-item > li:hover {
  background-color: var(--bg-secondary-color);
  font-weight: 700;
  color: var(--white) !important;
  animation: fadeIn 2s;
}

.left-sider-nav-item > li:hover a{
  background-color: var(--bg-secondary-color);
  font-weight: 700;
  color: var(--white) !important;
  animation: fadeIn 2s;
}

.left-sider-nav-item > li.active .left-sider-nav-icon {
  font-size: 24px;
}

.left-sider-nav-item > li .left-sider-nav-icon {
  font-size: 20px;
}

.upgrade-wrapper{
  background: var(--bg-upgrade-bg);
  border-radius: 6px;
  padding: 20px 30px;
}
.upgrade-text-heading{
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: var(--bg-tertiary-color);
}

.upgrade-text-sub-heading{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-secondary-color);
}

.secondary-btn {
  background: var(--bg-secondary-color);
  border-radius: 4px;
  border: 1px solid var(--bg-secondary-color);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 10px 30px;
  cursor: pointer;
}

.secondary-btn::hover {
  background: var(--white);
  border: 1px solid var(--bg-secondary-color);
  color: var(--white);
}

.company-name-heading{
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: var(--bg-secondary-color);
}

.company-name-sub-heading{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;  
  color: var(--bg-secondary-color);
}

.horizontal-header-wrapper{
  box-shadow: 0px -1.21081px 3.63243px rgba(0, 0, 0, 0.11), 0px -6.45766px 14.5297px rgba(0, 0, 0, 0.13); 
  padding: 10px 40px 0px 40px;  
}

.bg-background{
  background-color: #d7d6d6;
  min-height: 90vh;
}

.header-menu {
  list-style: none;
}

.custom-input {
  padding: 10px;
};

.error-display-parent {
  list-style: none !important;
}

.ant-alert.ant-alert-error.ant-alert-no-icon.css-dev-only-do-not-override-1i536d8 {
  background: #dc0202;
  color: #fff;
  font-size: 14px;
}

.card-group-title {
  font-size: 16px;
  font-weight: 400;
}

.card-group-details {
  font-size: 14px;
  font-weight: 400;
}

.schedule-status-wrapper {
  background-color: var(--bg-primary);
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 13px;
}

.ant-btn-primary {
  background-color: var(--bg-secondary);
}

.schedule-message .ql-container.ql-snow {
  min-height: 200px;
}

.template-builder-editor-wrapper {
  background-color: #fff;
  padding: 10px;
  width: 100%;
}

.save-builder-container {
  padding: 10px;
  display: flex;
  justify-content: end;
  background: #7200ff;
  position: sticky;
}

.builder-input-small {
  width: 60px;
  border-radius: 5px;
  border: 1px solid #494949;
  padding: 5px 10px;
  font-weight: 500;
}

.builder-label-small {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 400;
}

.builder-group{
  padding: 10px 0px;
  font-size: 14px;
  border-top: 1px solid #c6c1c1;
}

.builder-group-title {
  font-size: 13px;
  font-weight: 500;
}

.builder-property-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  align-items: center;
}

.builder-select-small {
  padding: 5px 6px;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid #494949;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

/* .button {
  font-size: 16px;
  padding: 20px 30px;
  background-color: rgb(14, 67, 245);
  font-weight: bold;
  color: #fff;
  border: none;
} */

.filter-input{
  padding: 5px 15px;
  border: 1px solid #cacaca;
  box-shadow: 1px 2px 2px lightgrey;
  font-weight: 500;
  border-radius: 8px;
}

.ant-checkbox {
  border: 1px solid #d7d6d6;
  border-radius: 1px;
  box-shadow: 1px 2px 2px lightgrey;
}

.custom-toast {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
}

.ant-message-notice-content {
  padding: 0px !important;
}

.custom-toast ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.custom-toast-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
}

.ant-message-custom-content{
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 10px;
}

.ant-message-custom-content.ant-message-error {
  background: var(--bs-danger);
  color: #fff;
  border: 1px solid currentColor;
}

.ant-message-custom-content.ant-message-success {
  background: var(--bs-success);
  color: #fff;
  border: 1px solid currentColor;
}

.ant-message-error .anticon {
  color: #ffffff !important;
}

.ant-btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.ant-dropdown-menu-item {
  margin-top: 10px !important;
}
